* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    font-family: Poppins;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
    text-align: center;
    min-height: 90vh;
    position: relative;
}
.layout_padding {
    padding-top: 90px;
    padding-bottom: 0px;
}

.padding_0 {
    padding: 0px;
}

.bg-light {
    background-color: transparent!important;
}
.header_main {
    background: linear-gradient(45deg, transparent 0%, #080c50 0%);
    position: fixed;
    top:0px;
    z-index: 99;
}



.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 15px;
    font-size: 18px;
    color: #f8f9fa;
    text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #f8f9fa;
}

.dropdown-content{
    display:none;
    position: absolute;
    background-color: #080c50;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-subcontent{
    display: none;
    position: absolute;
    background-color: #080c50;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 160px;
    left: 100%;
    top: -7px;
}
@media (max-width: 992px){
	.navbar-expand-lg, .navbar-nav, .navbar-collapse{
		flex-direction: row !important;
		display: flex !important;
	}
}

@media (max-width: 992px){
	.header_main,.footer_main {
    background: linear-gradient(45deg, transparent 0%, #080c50 0%);
	}
}
.navbar-collapse{

    justify-content: center;
}
.dropdown-content>div:hover > .dropdown-subcontent {
    display: block;
}

.footer_main{
    background: linear-gradient(45deg, transparent 0%, #080c50 0%);
    color:white;
    height: 100px;
    text-align: center;
    position:absolute;
    bottom:-100px;
    width: 100%;

}
.footer_main>p{
    margin-top: auto;
    font-size: 16px;
    top:50%;
    position: absolute;
    left:50%;

}
.footer_empty_place{
    height: 100vh;
}
body::after{
    background-image: url("../img/japanese_flag.png");
    content: "";
    background-size: 100%,0;
    background-position: center;
    width: 100%;
    opacity: 0.4;
    z-index:-1;
    top: -30px;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;

}
